target/
build/
out/
*.class
dependency-reduced-pom.xml

.idea/
*.iml
*.ipr
*.iws
.vscode/
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache
nbproject/
.nb-gradle/

save.json
*.bak

.DS_Store
Thumbs.db
